.divProductos{
    background-color: #FFF;
    min-height: 100vh;
    text-align: center;
    padding-top: 5%;
}
.fotos{
    width:200px;
    height:200px;
    border-radius:150px;
    padding: 3%;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #A4826D;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}
.border{
    border-color: white;
}