.navFooter{
    background-color: rgba(10, 10, 10, 0.849);
    bottom:0;
    width: 100%;
    color: white;
    font-style: italic;
    min-height: auto;
}
.center{
    padding-top: 13px;
    display: flex;
  justify-content: center;
}