.btn{
    width: 150px;
    text-align: center;
    background-color: #A4826D;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    line-height: 1;
    border-radius: 1em;
    border-color: #A4826D;
    text-decoration: none;
    font-size: 1.2rem;
}
h2, h1, h3{
   color:#590802 ;
}

.divCreadores{
    padding-top: 27%;
    padding-left: 20%;
    margin:0px auto;
    text-align: center;
}
.row{
    width: 50%;
    padding-left: 6%;
}
.banner{
    width: 100%;
    height: auto;
}
.centradoHome{
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    
}
.contenedorHome{
    position: relative;
    display: inline-block;
    text-align: center;
    color: #A4826D;
    font-weight: bold;
}


